{% extends 'base.html' %}

    

<!-- BODY -->
{% block body %}
    <div class="contactus">
        <div>
            <h1 class="contactus-main-heading">Get In Touch</h1>
        </div>
        <div class="container-card">
            <div class="cantactus-card">
                <div class="card1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" 
                    class="contactus-logos" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/></svg>
                    <h4 class="card-heading">phone</h4>
                    <p class="card-para">we are just a call away..dial/whatsapp us on below number!</p>
                    <p class="card-number"><a class="getdetails" href="">+919502766303</a></p>
                </div>
                
                <div class="card1">
                    <svg  xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" 
                    class="contactus-logos" viewBox="0 0 16 16"><path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z"/></svg>
                    <h4 class="card-heading">email</h4>
                    <p class="card-para">Shoot us a mail to plan weekend adventure with us!</p>
                    <p class="card-mail"><a class="getdetails" href="">@spirit_adventure</a></p>
                </div>
                <div class="card1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="contactus-logos" viewBox="0 0 16 16"><path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/></svg>
                    <h4 class="card-heading">Location</h4>
                    <p class="card-para">3rd Floor Delta House Building, above iSports, Miyapur, Telangana 500081</p>
                    <p class="card-map"><a class="getdetails" href="">View On Google Map</a></p>
                </div>
            </div>
        </div>
        </div>

        <form action="" method="post">
            {% csrf_token %}
            <div class="forms">
            <div>
                <h1 class="form-heading">Leave us your info</h1>
                <P class="form-para">We will get back to you.</P>
                <hr>
            </div>
            <div class="inputs">
                <div class="input-1">
                    <input class="name" type="text" name="name" placeholder="ENTER YOUR FULL NAME*">
                    <input class="email" type="email" name="email" id="Email" placeholder="ENTER YOUR EMAIL*">
                </div>
            <div>
                <input class="subject" name="subject" type="text" placeholder="SUBJECT*">
            </div>
            <div>
                <textarea class="message" name="message" id="message"placeholder="MESSAGE*"></textarea>
            </div>
            <input class="submit btn" type="submit" value="submit">
        </div>
    </form>
    </div>
{% endblock body %}
