{% extends 'base.html' %} {% load static %} {% block css_cities %}
<link rel="stylesheet" href="{% static 'css/citypage.css' %}" />
{% endblock css_cities %} {% block body %}

<h1 id="city">{{ city1.city_name }}</h1>
<p id="tagline">Take only Memories Leave only Footprints</p>
<br />
<div id="container_goa">
  <div id="left_div">
    <img src="{{ city1.city_image.url }}" alt="" id="img_1" />
    <p id="info">{{ city.city_description }}</p>
    <h1 id="gallery">Beauty Of {{ city1.city_name }}</h1>
    <br />
    <div class="container-packages carousel" id="img_div">
      <div class="wrap">
        <img src="{{ city1.city_gallery1.url }}" alt="" class="images" />
        <img src="{{ city1.city_gallery2.url }}" alt="" class="images" />
        <img src="{{ city1.city_gallery3.url }}" alt="" class="images" />
        <img src="{{ city1.city_gallery4.url }}" alt="" class="images" />
        <img src="{{ city1.city_gallery5.url }}" alt="" class="images" />
      </div>
    </div>
    <h1 id="package">Friendly Packages</h1>
    <div class="container-packages cartss">
      {% for i in packages %}
      <div class="package-container">
        <div class="maincart-container item">
          <div class="img-container">
            <img src="{{ i.package_image.url }}" alt="" class="img1" />
          </div>
          <div class="place-container">
            <span class="place-info">{{ i.package_name }}</span>
          </div>
          <div class="price-container">
            <span class="actual-price">₹{{ i.full_price }}</span>
            <br />
            <span class="price-info" id="dc">₹{{ i.discount_price }}</span>
          </div>
          <div class="Availability-container">
            <img
              src="{% static 'images/time-and-date.png' %}"
              alt=""
              class="date-img"
            />
            <span>Availability : <span>{{ i.Availability }}</span> </span><br />
            <img
              class="date-img"
              src="../static/images/7589612c-8b3d-4be3-b28e-5600053e89cd.jfif"
              alt=""
            />
            <img
              src="{% static 'images/7589612c-8b3d-4be3-b28e-5600053e89cd.jfif' %}"
              alt=""
              class="date-img"
            />
            <span id="no">{{ i.no_of_days }}</span>
          </div>
        </div>
        <button class="btn submit_button">
          <a href="{% url 'app1:package_details' package_id=i.id %}" class="link">View Details</a>
        </button>
      </div>
      {% endfor %}
    </div>
  </div>
  <div id="right_div">
    <div>
      <img
        src="{% static 'img/Screenshot 2025-01-23 195635.png' %}"
        alt=""
        id="img_2"
      />
      <h4 id="text">WHERE WE ARE NOW</h4>
      <img src="{{ city1.city_map.url }}" alt="" id="map" />
    </div>
  </div>
</div>

<!-- FB -->

<div style="width: 100%; height: 20vh; padding-left: 10%; margin-bottom: 20%">
  <form action="" method="post" id="form1">
    {% csrf_token %} {% for i in form1 %}
    <div style="margin-right: 5%; margin-bottom: 2%">
      <h2
        style="
          color: white;
          font-family: Verdana, Geneva, Tahoma, sans-serif;
          font-size: 3vw;
        "
      >
        {{i.name}}
      </h2>
      <h4
        style="
          color: white;
          font-size: 1vw;
          font-family: Verdana, Geneva, Tahoma, sans-serif;
        "
      >
        {{i.feedback}}
      </h4>
    </div>
    {% endfor %}
  </form>
</div>

<div class="container">
  <h2 class="text-center" id="fd_txt">We Value Your Feedback</h2>
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="name">Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        placeholder="Enter your name"
        required
        name="name"
      />
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        class="form-control"
        id="email"
        placeholder="Enter your email"
        required
        name="email"
      />
    </div>
    <div class="form-group">
      <label for="feedback">Feedback</label>
      <textarea
        class="form-control"
        id="feedback"
        rows="4"
        placeholder="Your feedback"
        required
        name="feedback"
      ></textarea>
    </div>
    <input type="submit" class="btn btn-primary btn-block" value="submit" />
  </form>
  <div id="responseMessage" class="mt-3 text-center"></div>
</div>

{% endblock body %}
