{% extends 'base.html' %}
{% load static %}
{% block css_cities %}
<link rel="stylesheet" href="{% static 'css/package_details.css' %}" />
{% endblock css_cities %}

{% block body %}

<div class="carousel-container" id="video-carousel-container">
    <div class="carousel" id="video-carousel">
        <div class="carousel-slide" id="slide-1">
            <video class="carousel-video" id="video-1" src="./videos/video1.mp4" autoplay loop muted></video>
        </div>
        <div class="carousel-slide" id="slide-2">
            <video class="carousel-video" id="video-2" src="./videos/video2.mp4" autoplay loop muted></video>
        </div>
        <div class="carousel-slide" id="slide-3">
            <video class="carousel-video" id="video-3" src="./videos/video3.mp4" autoplay loop muted></video>
        </div>
    </div>
    <button class="carousel-btn prev-btn" id="prev-button">&#10094;</button>
    <button class="carousel-btn next-btn" id="next-button">&#10095;</button>
</div>

<div class="content-container">
    <div>
        <div class="content-1">
            <div>
                <svg id="icon-content-1" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                    class="bi bi-alarm" viewBox="0 0 16 16">
                    <path d="M8.5 5.5a.5.5 0 0 0-1 0v3.362l-1.429 2.38a.5.5 0 1 0 .858.515l1.5-2.5A.5.5 0 0 0 8.5 9z" />
                    <path
                        d="M6.5 0a.5.5 0 0 0 0 1H7v1.07a7.001 7.001 0 0 0-3.273 12.474l-.602.602a.5.5 0 0 0 .707.708l.746-.746A6.97 6.97 0 0 0 8 16a6.97 6.97 0 0 0 3.422-.892l.746.746a.5.5 0 0 0 .707-.708l-.601-.602A7.001 7.001 0 0 0 9 2.07V1h.5a.5.5 0 0 0 0-1zm1.038 3.018a6 6 0 0 1 .924 0 6 6 0 1 1-.924 0M0 3.5c0 .753.333 1.429.86 1.887A8.04 8.04 0 0 1 4.387 1.86 2.5 2.5 0 0 0 0 3.5M13.5 1c-.753 0-1.429.333-1.887.86a8.04 8.04 0 0 1 3.527 3.527A2.5 2.5 0 0 0 13.5 1" />
                </svg>
            </div>
            <span class="content-heading-1">5D/4N</span>
        </div>

        <div class="content-2">
            <div>
                <svg id="icon-content-2" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                    class="bi bi-airplane-engines" viewBox="0 0 16 16">
                    <path
                        d="M8 0c-.787 0-1.292.592-1.572 1.151A4.35 4.35 0 0 0 6 3v3.691l-2 1V7.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.191l-1.17.585A1.5 1.5 0 0 0 0 10.618V12a.5.5 0 0 0 .582.493l1.631-.272.313.937a.5.5 0 0 0 .948 0l.405-1.214 2.21-.369.375 2.253-1.318 1.318A.5.5 0 0 0 5.5 16h5a.5.5 0 0 0 .354-.854l-1.318-1.318.375-2.253 2.21.369.405 1.214a.5.5 0 0 0 .948 0l.313-.937 1.63.272A.5.5 0 0 0 16 12v-1.382a1.5 1.5 0 0 0-.83-1.342L14 8.691V7.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v.191l-2-1V3c0-.568-.14-1.271-.428-1.849C9.292.591 8.787 0 8 0M7 3c0-.432.11-.979.322-1.401C7.542 1.159 7.787 1 8 1s.458.158.678.599C8.889 2.02 9 2.569 9 3v4a.5.5 0 0 0 .276.447l5.448 2.724a.5.5 0 0 1 .276.447v.792l-5.418-.903a.5.5 0 0 0-.575.41l-.5 3a.5.5 0 0 0 .14.437l.646.646H6.707l.647-.646a.5.5 0 0 0 .14-.436l-.5-3a.5.5 0 0 0-.576-.411L1 11.41v-.792a.5.5 0 0 1 .276-.447l5.448-2.724A.5.5 0 0 0 7 7z" />
                </svg>
            </div>
            <span class="content-heading-2">HYDRERABAD</span>
        </div>
    </div>

    <div>
        <div class="content-3">
            <div>
                <svg id="icon-content-3" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                    class="bi bi-calendar-date-fill" viewBox="0 0 16 16">
                    <path
                        d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4zm5.402 9.746c.625 0 1.184-.484 1.184-1.18 0-.832-.527-1.23-1.16-1.23-.586 0-1.168.387-1.168 1.21 0 .817.543 1.2 1.144 1.2" />
                    <path
                        d="M16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2m-6.664-1.21c-1.11 0-1.656-.767-1.703-1.407h.683c.043.37.387.82 1.051.82.844 0 1.301-.848 1.305-2.164h-.027c-.153.414-.637.79-1.383.79-.852 0-1.676-.61-1.676-1.77 0-1.137.871-1.809 1.797-1.809 1.172 0 1.953.734 1.953 2.668 0 1.805-.742 2.871-2 2.871zm-2.89-5.435v5.332H5.77V8.079h-.012c-.29.156-.883.52-1.258.777V8.16a13 13 0 0 1 1.313-.805h.632z" />
                </svg>
            </div>
            <span class="content-heading-3">Availability : EVERY WEDNESDAY DEPARTURE</span>
        </div>

        <div class="content-4">
            <div>
                <svg id="icon-content-4" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                    class="bi bi-airplane-engines" viewBox="0 0 16 16">
                    <path
                        d="M8 0c-.787 0-1.292.592-1.572 1.151A4.35 4.35 0 0 0 6 3v3.691l-2 1V7.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.191l-1.17.585A1.5 1.5 0 0 0 0 10.618V12a.5.5 0 0 0 .582.493l1.631-.272.313.937a.5.5 0 0 0 .948 0l.405-1.214 2.21-.369.375 2.253-1.318 1.318A.5.5 0 0 0 5.5 16h5a.5.5 0 0 0 .354-.854l-1.318-1.318.375-2.253 2.21.369.405 1.214a.5.5 0 0 0 .948 0l.313-.937 1.63.272A.5.5 0 0 0 16 12v-1.382a1.5 1.5 0 0 0-.83-1.342L14 8.691V7.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v.191l-2-1V3c0-.568-.14-1.271-.428-1.849C9.292.591 8.787 0 8 0M7 3c0-.432.11-.979.322-1.401C7.542 1.159 7.787 1 8 1s.458.158.678.599C8.889 2.02 9 2.569 9 3v4a.5.5 0 0 0 .276.447l5.448 2.724a.5.5 0 0 1 .276.447v.792l-5.418-.903a.5.5 0 0 0-.575.41l-.5 3a.5.5 0 0 0 .14.437l.646.646H6.707l.647-.646a.5.5 0 0 0 .14-.436l-.5-3a.5.5 0 0 0-.576-.411L1 11.41v-.792a.5.5 0 0 1 .276-.447l5.448-2.724A.5.5 0 0 0 7 7z" />
                </svg>
            </div>
            <span class="content-heading-4">KASHMIR</span>
        </div>
    </div>
</div>


<div>
    <nav class="nav-bar">
        <ul class="ul-list">
            <a class="nav-a" href="#">OVERVIEW</a>
            <a class="nav-a" href="#itinerary">ITINERARY</a>
            <a class="nav-a" href="#costing">COSTING</a>
            <a class="nav-a" href="#other-info">OTHER INFO</a>
            <a class="nav-a" href="#gallery">GALLERY</a>
            <a class="nav-a" href="#">REVIEWS</a>
        </ul>
    </nav>
</div>

<div id="package-from" class="package-form">
    <button id="openFormBtn" class="btn-open">Book Now</button>

    <!-- Modal Form -->
    <div id="popupForm" class="modal">
        <div class="modal-content animate">
            <span class="close-btn" id="closeForm">&times;</span>
            <h2 class="form-title">Book Your Package</h2>
            <form id="bookingForm">
                <label for="date" class="form-label">Select Date:</label>
                <input type="date" id="date" class="form-input" required>

                <label for="package" class="form-label">Select a Package:</label>
                <select id="package" class="form-input">
                    <option value="">--Select Package--</option>
                    <option value="basic">Basic Package</option>
                    <option value="premium">Premium Package</option>
                    <option value="luxury">Luxury Package</option>
                </select>

                <!-- Hidden input field for number of people -->
                <div id="peopleInput" class="hidden">
                    <label for="people" class="form-label">Number of People:</label>
                    <input type="number" id="people" class="form-input" min="1" max="7">
                </div>

                <button type="submit" class="btn-submit">Confirm Booking</button>
            </form>
        </div>
    </div>
</div>


<div class="container">
    <div>
        <div id="overview">
            <div class="overview-content d-flex align-items-center">
                <svg id="overview-icon" xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor"
                    class="bi bi-file-text" viewBox="0 0 16 16">
                    <path
                        d="M5 4a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1zm-.5 2.5A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5M5 8a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1zm0 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1z" />
                    <path
                        d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1" />
                </svg>
                <h3>OVERVIEW</h3>
            </div>
        </div>

        <div id="overview">
            <div class="overview-content d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-telephone-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z" />
                </svg>
                <h6> Dial us on 707 555 1671</h6>
            </div>
        </div>

        <div id="overview">
            <div class="overview-content d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock"
                    viewBox="0 0 16 16">
                    <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z" />
                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0" />
                </svg>
                <h6> Reporting Time:<span class="overview-span">10 AM (Day 1)</span></h6>
            </div>
        </div>

        <div>
            <h6>Event Type:<span class="overview-span">BLUE Wings</span></h6>
        </div>

        <div>
            <h1>GREEN & BLUE – NEXT GEN MODEL FROM HTC</h1>
        </div>

        <div>
            <p class="overview-para">HTC’s Kashmir Trip promises a mesmerizing journey through snow-clad mountains, lush
                valleys, and serene lakes. Here’s a complete guide to prepare you for an unforgettable adventure! 🌄</p>
            <hr class="hr1">

            <div class=" Quick Facts">
                <div id="overview">
                    <div class="overview-content d-flex align-items-center">
                        <svg id="overview-icon" xmlns="http://www.w3.org/2000/svg" width="26" height="26"
                            fill="currentColor" class="bi bi-file-text" viewBox="0 0 16 16">
                            <path
                                d="M5 4a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1zm-.5 2.5A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5M5 8a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1zm0 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1z" />
                            <path
                                d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1" />
                        </svg>
                        <h3>Quick Facts:</h3>
                    </div>
                    <ul>
                        <li><span class="Quick-Facts-list">Region:</span> Kashmir (Srinagar, Gulmarg, Pahalgam,
                            Sonamarg)</li>
                        <li><span class="Quick-Facts-list">Duration:</span>5 Days 4 Nights</li>
                        <li><span class="Quick-Facts-list">Grade:</span> Easy to Moderate</li>
                        <li><span class="Quick-Facts-list">Temperature:</span class="Quick-Facts-list">Expect daytime
                            temperatures between <SPAN class="Quick-Facts-list">5°C to 15°C</SPAN> and night
                            temperatures dropping to <SPAN class="Quick-Facts-list">-5°C to -10°C.</SPAN></li>
                    </ul>
                </div>
            </div>
            <hr class="hr1">
        </div>
    </div>



    <div class="container">
        <div id="overview">
            <div class="overview-content d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-tag"
                    viewBox="0 0 16 16">
                    <path d="M6 4.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m-1 0a.5.5 0 1 0-1 0 .5.5 0 0 0 1 0" />
                    <path
                        d="M2 1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 1 6.586V2a1 1 0 0 1 1-1m0 5.586 7 7L13.586 9l-7-7H2z" />
                </svg>
                <h3> Pricing</h3>
            </div>
            <ul>
                <li><span class="Quick-Facts-list">Event Cost:</span> INR <span class="Quick-Facts-list">19,999</span>
                    per person</li>
                <li><span class="Quick-Facts-list">Flash Sale Price:</span> INR <span
                        class="Quick-Facts-list">12,999</span> per person (Triple Sharing Room)</li>
                <li><span class="Quick-Facts-list">Couple Sharing Cost:</span>Additional INR <span
                        class="Quick-Facts-list">2,000</span> per person</li>
                <p><span class="Quick-Facts-list">Advance Payment:</span> Pay an initial amount of INR <span
                        class="Quick-Facts-list">2,999</span> to block your slot.</p>
                <p><span class="Quick-Facts-list">📱 After payment, send a screenshot to WhatsApp at 707 555 1681</span>
                </p>
                <p><span class="Quick-Facts-list">Departure Days:</span> Every <span
                        class="Quick-Facts-list">Wednesday</span> and <span class="Quick-Facts-list">Saturday<< /span>
                            /p>
            </ul>
        </div>
    </div>
    <hr>


    <div class="container">
        <div id="overview">
            <h3>🏞️ About the Places:</h3>
            <h4>🏔️ Srinagar: The Summer Capital</h4>
            <p>Srinagar is famous for its <span class="Quick-Facts-list">Dal Lake, Shikara rides,</span> and <span
                    class="Quick-Facts-list">Mughal gardens.</span> Explore the beautiful <span
                    class="Quick-Facts-list">floating markets</span> and visit <span class="Quick-Facts-list"> Hazratbal
                    Shrine </span> and <span class="Quick-Facts-list"> Shankaracharya Temple.</span></p>

            <h4>🎿 Gulmarg: The Winter Wonderland</h4>
            <p>Srinagar is famous for its <span class="Quick-Facts-list">Dal Lake, Shikara rides,</span> and <span
                    class="Quick-Facts-list">Mughal gardens.</span> Explore the beautiful <span
                    class="Quick-Facts-list">floating markets</span> and visit <span class="Quick-Facts-list"> Hazratbal
                    Shrine </span> and <span class="Quick-Facts-list"> Shankaracharya Temple.</span></p>

            <h4>🌲 Pahalgam: The Valley of Shepherds</h4>
            <p>Srinagar is famous for its <span class="Quick-Facts-list">Dal Lake, Shikara rides,</span> and <span
                    class="Quick-Facts-list">Mughal gardens.</span> Explore the beautiful <span
                    class="Quick-Facts-list">floating markets</span> and visit <span class="Quick-Facts-list"> Hazratbal
                    Shrine </span> and <span class="Quick-Facts-list"> Shankaracharya Temple.</span></p>

            <h4>❄️ Sonamarg: The Meadow of Gold</h4>
            <p>Srinagar is famous for its <span class="Quick-Facts-list">Dal Lake, Shikara rides,</span> and <span
                    class="Quick-Facts-list">Mughal gardens.</span> Explore the beautiful <span
                    class="Quick-Facts-list">floating markets</span> and visit <span class="Quick-Facts-list"> Hazratbal
                    Shrine </span> and <span class="Quick-Facts-list"> Shankaracharya Temple.</span></p>
        </div>
    </div>
</div>
<hr>

<!-- <div class="container">
    <h2>🏔️ Kashmir Trip Guide: What You Need to Know Before You Go</h2>
    <h5>❄️ Temperatures: Be Ready for the Chill!</h5>
    <p>Srinagar is famous for its <span class="Quick-Facts-list">Dal Lake, Shikara rides,</span> and <span class="Quick-Facts-list">Mughal gardens.</span> Explore the beautiful <span  class="Quick-Facts-list">floating markets</span> and visit <span  class="Quick-Facts-list"> Hazratbal Shrine </span> and <span  class="Quick-Facts-list"> Shankaracharya Temple.</span></p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel adipisci molestias sequi nobis hic incidunt ipsa non quaerat itaque qui quisquam, odit aliquid a laboriosam doloremque debitis sed doloribus iusto.</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum quia omnis nihil unde voluptatibus deleniti nesciunt quo illo dolore obcaecati, ipsum expedita repudiandae, sint dolorem soluta consequatur sequi qui minus.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde odit totam in adipisci soluta necessitatibus recusandae provident distinctio, quidem eveniet perspiciatis fugiat. Eligendi natus quo, inventore expedita nobis nisi. Alias!</p>
  </div>
  <hr> -->

<!-- <div class="container">
    <h4>🚦 Traffic Conditions: Patience is Key!</h4>
    <p>Srinagar is famous for its <span class="Quick-Facts-list">Dal Lake, Shikara rides,</span> and <span class="Quick-Facts-list">Mughal gardens.</span> Explore the beautiful <span  class="Quick-Facts-list">floating markets</span> and visit <span  class="Quick-Facts-list"> Hazratbal Shrine </span> and <span  class="Quick-Facts-list"> Shankaracharya Temple.</span></p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi, et pariatur error molestiae numquam tenetur perferendis itaque deleniti? Voluptatum commodi aliquid cupiditate ab deserunt quaerat enim excepturi et animi exercitationem.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt sunt ea dolorum ab illum rem, eligendi, doloremque minima eius id maxime, voluptates numquam illo inventore. Voluptatibus molestias praesentium, aliquam illo suscipit veniam iure dolores adipisci quo saepe doloremque itaque quae porro consequatur? Explicabo velit omnis necessitatibus magnam esse tempora hic.</p>
  </div> -->

<!-- <hr> -->

<div class="container">
    <h4>🏠 Stays: A Cozy Experience with Some Hiccups</h4>
    <p>Srinagar is famous for its <span class="Quick-Facts-list">Dal Lake, Shikara rides,</span> and <span
            class="Quick-Facts-list">Mughal gardens.</span> Explore the beautiful <span
            class="Quick-Facts-list">floating markets</span> and visit <span class="Quick-Facts-list"> Hazratbal Shrine
        </span> and <span class="Quick-Facts-list"> Shankaracharya Temple.</span></p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi, et pariatur error molestiae numquam tenetur
        perferendis itaque deleniti? Voluptatum commodi aliquid cupiditate ab deserunt quaerat enim excepturi et animi
        exercitationem.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt sunt ea dolorum ab illum rem, eligendi,
        doloremque minima eius id maxime, voluptates numquam illo inventore. Voluptatibus molestias praesentium, aliquam
        illo suscipit veniam iure dolores adipisci quo saepe doloremque itaque quae porro consequatur? Explicabo velit
        omnis necessitatibus magnam esse tempora hic.</p>
</div>
<hr>

<div class="container">
    <h4>🚭 Smoking & Alcohol Policy</h4>
    <p>Srinagar is famous for its <span class="Quick-Facts-list">Dal Lake, Shikara rides,</span> and <span
            class="Quick-Facts-list">Mughal gardens.</span> Explore the beautiful <span
            class="Quick-Facts-list">floating markets</span> and visit <span class="Quick-Facts-list"> Hazratbal Shrine
        </span> and <span class="Quick-Facts-list"> Shankaracharya Temple.</span></p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi, et pariatur error molestiae numquam tenetur
        perferendis itaque deleniti? Voluptatum commodi aliquid cupiditate ab deserunt quaerat enim excepturi et animi
        exercitationem.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt sunt ea dolorum ab illum rem, eligendi,
        doloremque minima eius id maxime, voluptates numquam illo inventore. Voluptatibus molestias praesentium, aliquam
        illo suscipit veniam iure dolores adipisci quo saepe doloremque itaque quae porro consequatur? Explicabo velit
        omnis necessitatibus magnam esse tempora hic.</p>
</div>
<hr>
</div>

<div id="itinerary" class="container">
    <div class="d-flex" style="gap: 2%;">
        <svg id="itinerary-icon" xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor"
            class="bi bi-bus-front-fill" viewBox="0 0 16 16">
            <path
                d="M16 7a1 1 0 0 1-1 1v3.5c0 .818-.393 1.544-1 2v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5V14H5v1.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-2a2.5 2.5 0 0 1-1-2V8a1 1 0 0 1-1-1V5a1 1 0 0 1 1-1V2.64C1 1.452 1.845.408 3.064.268A44 44 0 0 1 8 0c2.1 0 3.792.136 4.936.268C14.155.408 15 1.452 15 2.64V4a1 1 0 0 1 1 1zM3.552 3.22A43 43 0 0 1 8 3c1.837 0 3.353.107 4.448.22a.5.5 0 0 0 .104-.994A44 44 0 0 0 8 2c-1.876 0-3.426.109-4.552.226a.5.5 0 1 0 .104.994M8 4c-1.876 0-3.426.109-4.552.226A.5.5 0 0 0 3 4.723v3.554a.5.5 0 0 0 .448.497C4.574 8.891 6.124 9 8 9s3.426-.109 4.552-.226A.5.5 0 0 0 13 8.277V4.723a.5.5 0 0 0-.448-.497A44 44 0 0 0 8 4m-3 7a1 1 0 1 0-2 0 1 1 0 0 0 2 0m8 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0m-7 0a1 1 0 0 0 1 1h2a1 1 0 1 0 0-2H7a1 1 0 0 0-1 1" />
        </svg>
        <h4>ITINERARY</h4>
    </div>
    <div>
        <ul class="faq-list">
            <li>
                <button class="toggle-btn">DAY 1 SRINAGAR</button>
                <div class="content"><span>
                        <p class="day-btn"><strong>10:00AM :</strong> Reporting time.10:30AM : Start to homestay and
                            fresh up.
                    </span> <br><br>
                    <span><strong>11:30AM :</strong></span><span>Start to explore the places in Srinagar(Tulip garden ,
                        Shankaracharya temple(optional), Shopping)
                        Tulip garden – It is the largest tulip garden in Asia spread over an area of about 30
                        hectares.</span> <br><br>
                    <span><strong>07:00PM :</strong></span> <span>Start to House Boat Stay.</span> <br><br>
                    <span><strong>09:00PM :</strong></span> <span>Have dinner and take rest.</span> <br><br>

                    <span>*LOCAL VEHICLE WILL BE BASED ON GROUP SIZE*</span> <br><br>

                    <span><strong>STAY TYPE – BASIC HOUSE BOAT STAY –</strong></span> <br> <br>
                    Don’t expect <strong>Cinematic house boat stay…</strong>that’s not what is in reality! Our House
                    Boat is very Basic one where you can have good bed to sleep and nice washroom.. Power Blankets will
                    be provided….Carry Winter gear
                    More than 2000 HTC participants stayed here! Good to go for Basic budget backpacking event like
                    this!
                    <strong>FOOD –</strong> <br><br>
                    Typical Kashmiri style food….Food will served Hot when you have it ON TIME.. <br><br>

                    <strong>IMP –</strong> Remember Luxury and experience won’t be together! As this is Super Budget
                    event make sure that you be prepare well!
                    </p>
                </div>
            </li>
            <li>
                <button class="toggle-btn">DAY 2 GULMARG DAY - HAPPY DAY</button>
                <div class="content">
                    <p class="day-btn">
                        <strong>05:00AM :</strong> wake up call! <br><br>
                        <strong>6-00 AM :</strong> Breakfast and start to GULMARG <br><br>
                        <strong>8:30 AM :</strong> Time for <strong>GONDOLA RIDE</strong> <br><br>
                        * Incase of heavy snow our vehicles can’t go to the top..in this situation we have to hire Local
                        chained vehicles which costs <strong> 2000 to 3000 INR per vehicle</strong>. Cost will be split
                        between participants. *
                        <strong>5:00PM :</strong> After completing all the activities at apharwat peak get back to
                        homestay. <br><br>
                        <strong> 8:00PM :</strong> Reach the Houseboat and have dinner.

                        <strong>ACTIVITIES AT GULMARG – </strong>Activities cost <strong>not included</strong> in the
                        event cost
                        <strong>GONDOLA RIDE – </strong>
                        Incase of Heavy snow ..the 2nd phase of Gondola Ride will be closed
                        PHASE 1 COST <strong>– 700 INR </strong>
                        2 PHASES <strong>– 1500 INR </strong><br><br>

                        <strong>SNOW ACTIVITIES WILL BE DEPENDING THE AVAILABILITY OF SNOW:</strong>

                        <strong> SKIING – </strong>
                        1 HOUR <strong> – 1000 to 1500 INR </strong>

                        <strong> ICE SLEDGING –
                            Per Person – 600 to 1000</strong> INR

                        <strong>NOTE – </strong>
                        <strong>HTC</strong> is not affiliated or has any relationship with any of the adventure
                        activity operators in Kashmir. Our recommendations, if any, are purely based on
                        <strong>convenience or merit</strong>. The operators in Kashmir who give services for sledding,
                        skiing, mule rides or any other activity are all private parties in a highly competitive market.
                        We have no control, say or share in any of the prices. We consider it unethical to encourage
                        schemes that cheat or manipulate travelers. Please understand that you are free to choose your
                        operator, activity and enjoy as you like. Remember, HTC is with you through out the event and is
                        always by your side only.

                        <strong>STAY TYPE – BASIC HOUSE BOAT STAY – </strong>
                        Don’t expect <strong>Cinematic house boat stay…</strong>that’s not what is in reality! Our House
                        Boat is very Basic one where you can have good bed to sleep and nice washroom.. Power Blankets
                        will be provided….Carry Winter gear
                        More than 2000 HTC participants stayed here! Good to go for Basic budget backpacking event like
                        this!
                        <strong>FOOD – </strong>
                        Typical Kashmiri style food….Food will served Hot when you have it ON TIME..

                        <strong>IMP –</strong> Remember Luxury and experience won’t be together! As this is Super Budget
                        event make sure that you be prepare well!
                    </p>
                </div>
            </li>
            <li>
                <button class="toggle-btn">DAY 3 SRINAGAR - PAHALGAM</button>
                <div class="content">
                    <p class="day-btn">
                        <strong>05:00AM :</strong> wake up call! <br><br>
                        <strong>6-00 AM :</strong> Breakfast and start to GULMARG <br><br>
                        <strong>8:30 AM :</strong> Time for <strong>GONDOLA RIDE</strong> <br><br>
                        * Incase of heavy snow our vehicles can’t go to the top..in this situation we have to hire Local
                        chained vehicles which costs <strong> 2000 to 3000 INR per vehicle</strong>. Cost will be split
                        between participants. *
                        <strong>5:00PM :</strong> After completing all the activities at apharwat peak get back to
                        homestay. <br><br>
                        <strong> 8:00PM :</strong> Reach the Houseboat and have dinner.

                        <strong>ACTIVITIES AT GULMARG – </strong>Activities cost <strong>not included</strong> in the
                        event cost
                        <strong>GONDOLA RIDE – </strong>
                        Incase of Heavy snow ..the 2nd phase of Gondola Ride will be closed
                        PHASE 1 COST <strong>– 700 INR </strong>
                        2 PHASES <strong>– 1500 INR </strong><br><br>

                        <strong>SNOW ACTIVITIES WILL BE DEPENDING THE AVAILABILITY OF SNOW:</strong>

                        <strong> SKIING – </strong>
                        1 HOUR <strong> – 1000 to 1500 INR </strong>

                        <strong> ICE SLEDGING –
                            Per Person – 600 to 1000</strong> INR

                        <strong>NOTE – </strong>
                        <strong>HTC</strong> is not affiliated or has any relationship with any of the adventure
                        activity operators in Kashmir. Our recommendations, if any, are purely based on
                        <strong>convenience or merit</strong>. The operators in Kashmir who give services for sledding,
                        skiing, mule rides or any other activity are all private parties in a highly competitive market.
                        We have no control, say or share in any of the prices. We consider it unethical to encourage
                        schemes that cheat or manipulate travelers. Please understand that you are free to choose your
                        operator, activity and enjoy as you like. Remember, HTC is with you through out the event and is
                        always by your side only.

                        <strong>STAY TYPE – BASIC HOUSE BOAT STAY – </strong>
                        Don’t expect <strong>Cinematic house boat stay…</strong>that’s not what is in reality! Our House
                        Boat is very Basic one where you can have good bed to sleep and nice washroom.. Power Blankets
                        will be provided….Carry Winter gear
                        More than 2000 HTC participants stayed here! Good to go for Basic budget backpacking event like
                        this!
                        <strong>FOOD – </strong>
                        Typical Kashmiri style food….Food will served Hot when you have it ON TIME..

                        <strong>IMP –</strong> Remember Luxury and experience won’t be together! As this is Super Budget
                        event make sure that you be prepare well!
                    </p>
                </div>
            </li>

            <li>
                <button class="toggle-btn">DAY 4 SRINAGAR - SONAMARG</button>
                <div class="content">
                    <p class="day-btn">
                        <strong>05:00AM :</strong> wake up call! <br><br>
                        <strong>6-00 AM :</strong> Breakfast and start to GULMARG <br><br>
                        <strong>8:30 AM :</strong> Time for <strong>GONDOLA RIDE</strong> <br><br>
                        * Incase of heavy snow our vehicles can’t go to the top..in this situation we have to hire Local
                        chained vehicles which costs <strong> 2000 to 3000 INR per vehicle</strong>. Cost will be split
                        between participants. *
                        <strong>5:00PM :</strong> After completing all the activities at apharwat peak get back to
                        homestay. <br><br>
                        <strong> 8:00PM :</strong> Reach the Houseboat and have dinner.

                        <strong>ACTIVITIES AT GULMARG – </strong>Activities cost <strong>not included</strong> in the
                        event cost
                        <strong>GONDOLA RIDE – </strong>
                        Incase of Heavy snow ..the 2nd phase of Gondola Ride will be closed
                        PHASE 1 COST <strong>– 700 INR </strong>
                        2 PHASES <strong>– 1500 INR </strong><br><br>

                        <strong>SNOW ACTIVITIES WILL BE DEPENDING THE AVAILABILITY OF SNOW:</strong>

                        <strong> SKIING – </strong>
                        1 HOUR <strong> – 1000 to 1500 INR </strong>

                        <strong> ICE SLEDGING –
                            Per Person – 600 to 1000</strong> INR

                        <strong>NOTE – </strong>
                        <strong>HTC</strong> is not affiliated or has any relationship with any of the adventure
                        activity operators in Kashmir. Our recommendations, if any, are purely based on
                        <strong>convenience or merit</strong>. The operators in Kashmir who give services for sledding,
                        skiing, mule rides or any other activity are all private parties in a highly competitive market.
                        We have no control, say or share in any of the prices. We consider it unethical to encourage
                        schemes that cheat or manipulate travelers. Please understand that you are free to choose your
                        operator, activity and enjoy as you like. Remember, HTC is with you through out the event and is
                        always by your side only.

                        <strong>STAY TYPE – BASIC HOUSE BOAT STAY – </strong>
                        Don’t expect <strong>Cinematic house boat stay…</strong>that’s not what is in reality! Our House
                        Boat is very Basic one where you can have good bed to sleep and nice washroom.. Power Blankets
                        will be provided….Carry Winter gear
                        More than 2000 HTC participants stayed here! Good to go for Basic budget backpacking event like
                        this!
                        <strong>FOOD – </strong>
                        Typical Kashmiri style food….Food will served Hot when you have it ON TIME..

                        <strong>IMP –</strong> Remember Luxury and experience won’t be together! As this is Super Budget
                        event make sure that you be prepare well!
                    </p>
                </div>
            </li>

            <li>
                <button class="toggle-btn">DAY 5 SRINAGAR</button>
                <div class="content">
                    <p class="day-btn">
                        <strong>05:00AM :</strong> wake up call! <br><br>
                        <strong>6-00 AM :</strong> Breakfast and start to GULMARG <br><br>
                        <strong>8:30 AM :</strong> Time for <strong>GONDOLA RIDE</strong> <br><br>
                        * Incase of heavy snow our vehicles can’t go to the top..in this situation we have to hire Local
                        chained vehicles which costs <strong> 2000 to 3000 INR per vehicle</strong>. Cost will be split
                        between participants. *
                        <strong>5:00PM :</strong> After completing all the activities at apharwat peak get back to
                        homestay. <br><br>
                        <strong> 8:00PM :</strong> Reach the Houseboat and have dinner.

                        <strong>ACTIVITIES AT GULMARG – </strong>Activities cost <strong>not included</strong> in the
                        event cost
                        <strong>GONDOLA RIDE – </strong>
                        Incase of Heavy snow ..the 2nd phase of Gondola Ride will be closed
                        PHASE 1 COST <strong>– 700 INR </strong>
                        2 PHASES <strong>– 1500 INR </strong><br><br>

                        <strong>SNOW ACTIVITIES WILL BE DEPENDING THE AVAILABILITY OF SNOW:</strong>

                        <strong> SKIING – </strong>
                        1 HOUR <strong> – 1000 to 1500 INR </strong>

                        <strong> ICE SLEDGING –
                            Per Person – 600 to 1000</strong> INR

                        <strong>NOTE – </strong>
                        <strong>HTC</strong> is not affiliated or has any relationship with any of the adventure
                        activity operators in Kashmir. Our recommendations, if any, are purely based on
                        <strong>convenience or merit</strong>. The operators in Kashmir who give services for sledding,
                        skiing, mule rides or any other activity are all private parties in a highly competitive market.
                        We have no control, say or share in any of the prices. We consider it unethical to encourage
                        schemes that cheat or manipulate travelers. Please understand that you are free to choose your
                        operator, activity and enjoy as you like. Remember, HTC is with you through out the event and is
                        always by your side only.

                        <strong>STAY TYPE – BASIC HOUSE BOAT STAY – </strong>
                        Don’t expect <strong>Cinematic house boat stay…</strong>that’s not what is in reality! Our House
                        Boat is very Basic one where you can have good bed to sleep and nice washroom.. Power Blankets
                        will be provided….Carry Winter gear
                        More than 2000 HTC participants stayed here! Good to go for Basic budget backpacking event like
                        this!
                        <strong>FOOD – </strong>
                        Typical Kashmiri style food….Food will served Hot when you have it ON TIME..

                        <strong>IMP –</strong> Remember Luxury and experience won’t be together! As this is Super Budget
                        event make sure that you be prepare well!
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>

<hr>

<div id="costing" class="costing">
    <div class="container">
        <div id="overview">
            <div class="overview-content d-flex align-items-center">
                <svg id="pakages-icon" style="color: orangered;" xmlns="http://www.w3.org/2000/svg" width="26"
                    height="26" fill="currentColor" class="bi bi-currency-rupee" viewBox="0 0 16 16">
                    <path
                        d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4z" />
                </svg>
                <h3 style="text-transform: uppercase;">Costing : 12999 INR</h3>
            </div>
            <div class="cost-includes">
                <div class="container">
                    <div class="costing d-flex " style="margin-top: 5%; gap:30%;">
                        <h4 style="color: orangered;">𝗖𝗢𝗦𝗧 𝗜𝗡𝗖𝗟𝗨𝗗𝗘𝗦</h4>
                        <div class="card" style="height: auto; width: 30%; border:none;">
                            <ul style="font-weight: bold; ">
                                <li style="margin-top: 4%;">
                                    NIGHTS : STAY WITH WASHROOMS... (POWER BLANKETS ARE AVAILABLE AT NIGHT IN STAY)</li>
                                <li style="margin-top: 4%;">NIGHTS : BASIC HOME STAY WITH WASHROOMS... (POWER BLANKETS
                                    ARE AVAILABLE AT NIGHT IN STAY)</li>
                                <li style="margin-top: 4%;">BREAKFASTS & DINNERS</li>
                                <li style="margin-top: 4%;">Transportation
                                    Vehicle will be Based on group Size! (TEMPO OR 4 Wheeler)</li>
                                <li style="margin-top: 4%;"></li>
                                <li style="margin-top: 4%;"></li>
                                <li style="margin-top: 4%;">
                                    POWER BLANKETS TO BEDS @ NIGHT TIME</li>
                                <li style="margin-top: 4%;">HTC's TRIP CO-ORDINATOR</li>
                                <li style="margin-top: 4%;">First Aid & Expertise</li>
                                <li style="margin-top: 4%;">Tolls & Parking</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


            <div class="container">
                <div class="costing d-flex align-items-center " style="margin-top: 3%; gap:30%;">
                    <h4 style="color: orangered; margin-top: -10%;">COST EXCLUDES</h4>
                    <div class="card" style="height: auto; width: 30%; border:none;">
                        <ul style="font-weight: bold; ">
                            <li style="margin-top: 1%;">
                                Any air / train / bus ticket to reach SRINAGAR or come back from SRINAGAR.</li>
                            <li style="margin-top: 4%;">All Activities - Gandola Ride,Skiing, sledging,horse ride,Snow
                                Bike OR any other</li>
                            <li style="margin-top: 4%;">LUNCH</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr>


    <div id="other-info" class="other-info">
        <div class="container">
            <div id="overview">
                <div class="overview-content d-flex align-items-center">
                    <svg id="overview-icon" xmlns="http://www.w3.org/2000/svg" width="26" height="26"
                        fill="currentColor" class="bi bi-file-text" viewBox="0 0 16 16">
                        <path
                            d="M5 4a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1zm-.5 2.5A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5M5 8a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1zm0 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1z" />
                        <path
                            d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1" />
                    </svg>
                    <h5 style="text-transform: uppercase; color:orangered;">OTHER INFO</h5>
                </div><br><br>
                <div>
                    <h5>PAYMENT POLICY:</h5><br>
                    <P>Please confirm your participation by paying 2999 INR(Non refundable & NON Transfarable) Initial
                        amount to block your slot!…
                        Remaining amount must be cleared 15 days before event starts else initial payment will be
                        fortified</P><br>
                    <h5>CANCELLATIONS & REFUND POLICY :</h5><br>
                    <ul>
                        <li> NON-REFUNDABLE/NON-TRANSFERABLE</li>
                        <li> This is Non-Refundable event.</li>
                    </ul><br>
                    <h5>Meeting Point : XXXXXXX AIRPORT/XXXXXXXX STATION</h5><br>
                    <h6>You can contact us for your Flight Ticket Booking assistance.</h6><br>
                    <p>Note: Flight fare increases every day. So it's advised to book your flight tickets at the
                        earliest.</p><br>
                    <h5>THINGS TO REMEMBER : </h5><br>
                    <ul>
                        <li> Alcohol consumption/ smoking tobacco/ weed is strictly prohibited from entire event!</li>
                        <li> Please do not litter any plastic (biscuit pack covers, candy wrappers, etc.). We commit to
                            keeping our events pollute free.</li>
                        <li>Hyderabad Trekking Club has a right to cancel the participant slot.</li>
                        <li> Please do not cause delay and cause inconvenience for others and impact the schedule.</li>
                        <li> Below 18 must take the consent of the parents to participate.</li>
                        <li>Participants will be notified prior to when the itinerary is modified/ event get canceled
                            due to any unforeseen circumstances.</li>
                        <li>If there is an unexpected change in weather during the event, the organizer has the right to
                            withdraw/ retreat</li>
                        <li>Participants should coordinate, disciplined and align together as a team during the event.
                        </li>
                        <li>Please do not expect luxury facilities and appreciate being cooperative with fellow
                            Participants</li>
                        <li>Though we assure safety as a top priority, Event Organizers are not responsible for any
                            severe injuries or fatal events.</li>
                        <li>No refund will be provided if the participant doesn’t show up on the day of the event.</li>
                        <li>No refund will be provided if the participant doesn’t show up on the day of the event.</li>
                        <li>We strongly suggest you to purchase personal travel insurance. Please contact our team for
                            info/help.</li>
                    </ul><br>
                    <h5>AGE CRITERIA :</h5><br>
                    <p>Minimum age: 18 years (12+ kids allowed along with guardian or Parents)</p><br>
                    <p>Maximum age: There is no maximum age limit. You need to be reasonably fit to participate.</p>
                </div>
            </div>
        </div>
    </div>
    <hr>

    <div id="gallery" class="gallery">
        <div class="container">
            <div id="overview">
                <div class="overview-content d-flex align-items-center">
                    <svg id="overview-icon" xmlns="http://www.w3.org/2000/svg" width="26" height="26"
                        fill="currentColor" class="bi bi-file-text" viewBox="0 0 16 16">
                        <path
                            d="M5 4a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1zm-.5 2.5A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5M5 8a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1zm0 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1z" />
                        <path
                            d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1" />
                    </svg>
                    <h5 style="text-transform: uppercase; color:orangered;">GALLERY</h5>
                </div>
            </div>
            <div class="gallery-card-img">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                        <div class="card">
                            <img src="./images/pexels-alexander-bobrov-390088-1036864.jpg" class="card-img-top"
                                alt="...">
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="./images/pexels-alexander-bobrov-390088-1036864.jpg" class="card-img-top"
                                alt="...">
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="./images/pexels-alexander-bobrov-390088-1036864.jpg" class="card-img-top"
                                alt="...">
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="./images/pexels-alexander-bobrov-390088-1036864.jpg" class="card-img-top"
                                alt="...">
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="./images/pexels-alexander-bobrov-390088-1036864.jpg" class="card-img-top"
                                alt="...">
                        </div>
                    </div>

                    <div class="col">
                        <div class="card">
                            <img src="./images/pexels-alexander-bobrov-390088-1036864.jpg" class="card-img-top"
                                alt="...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr class="gallery-hr">


<!-- <div id="reviews" class="reviews">
  <div class="container" style="background-color: antiquewhite;">
    <h1 style="color: orangered;">Related Tours</h1>
    <div class="reviews-cards">
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="./images/pexels-kindelmedia-8688522.jpg" class="img-fluid rounded-start" alt="..." >
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title" style="font-weight: bold;">NYE SPL BATCHES – GOKARNA & DANDELI 3D/2N</h5>
            <p class="card-text">To make your trips better</p>
            <p class="card-text"><span class="price-1">₹10,000</span></p>
            <p class="card-text"><span class="price-2">₹9,999</span></p>
          </div>
        </div>
      </div>
    </div>

  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="./images/pexels-kindelmedia-8688522.jpg" class="img-fluid rounded-start" alt="..." >
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title" style="font-weight: bold;">NYE SPL BATCHES – GOKARNA & DANDELI 3D/2N</h5>
          <p class="card-text">To make your trips better</p>
          <p class="card-text"><span class="price-1">₹10,000</span></p>
          <p class="card-text"><span class="price-2">₹9,999</span></p>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

<hr> -->



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
<script src="{% static 'js/packages.js' %}"></script>

{% endblock body %}