@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Jersey+10&family=Macondo&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Jersey+10&family=Macondo&family=Mouse+Memoirs&family=Oswald:wght@200..700&display=swap');
@font-face {
    font-family: "neuemachinaregular";
    src: url(../fonts/NeueMachinaRegular.otf)
}
@font-face {
    font-family: "Rudeee";
    src: url(../fonts/Rude.ttf);
}
@font-face {
    font-family: art;
    src: url(../fonts/Archionity.ttf);
}
@font-face {
    font-family: bohemy;
    src: url(../fonts/Bohemy.otf);
}
@font-face {
    font-family: predicat;
    src: url(../fonts/Predikat\ Oneday.ttf);
}

*{
    padding: 0%;
    margin: 0%;
}
a{
    text-decoration: none;
    color: #D8CAA7 ;
}
body{
    background-color: #1D2955;
}
/* #D8CAA7 */


/* NAVBAR2 */

#main_container2{
    width: 100%;
    height: 70px;
    background-color: black;
    /* backdrop-filter: blur(30px);
    box-shadow: 0px 0px 30px rgba(227,228,237,0.37);
    border: 2px solid rgba(255,255,255,0.18); */
    text-decoration: none;
}
#main_list2{
    display: flex;
    font-size: 28px;
    font-family: bohemy;
    list-style-type: none;
    margin-left:840px;
}
.items2{
    margin-left: 70px;
    margin-top: 20px;
}
#logo_item2{
    margin-left: -770px;
}
#home_item2{
    margin-left: 815px;
}




/* CONTACTUS BODY */

.contactus-main-heading{
    text-align: center;
    font-family: neuemachinaregular;
    color: #D8CAA7;
    margin-top: 15px;
    font-size: 65px;
}
.contactus-main-para{
    font-size: none;
    text-align: center;
    font-size: 30px;
}
.cantactus-card{
    margin-top: 6%;
    display: flex;
    flex-direction: row;
    gap: 2%;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.contactus-logos:hover{
    transform: translateY(-20px);
    transition: all 1s;
}
.card1{
    height: 200px;
    width: 360px;
}
.card-heading{
    text-transform: uppercase;
    color: rgb(255, 123, 0);
    font-size: 20px;
    margin-top: 10%;
}

.card-para{
    font-size: 20px;
    margin-top: 10%;  
    color: white; 
}

.card-number{
    font-size: 20px;
    margin-top: 10%;
}

.card-mail{
    color: rgb(255, 123, 0);
    font-size: 20px;
    margin-top: 10%;
}

.card-map{
    color: rgb(255, 123, 0);
    font-size: 20px;
    margin-top: 10%;
}

.getdetails:hover{
    text-decoration: none;
    color: white;
}

.forms{
    margin-top: 10%;
    text-align: center;
}

.form-heading{
    text-transform: uppercase;
    color: rgb(255, 123, 0);
    text-align: center;
}

.form-para{
    text-align: center;
    margin-top: 1%;
    color: white;
}

hr{
    margin-top: 1%;
    width: 80px;
    border-top: 3px solid silver;
    margin-left: auto;
    margin-right: auto;
}

.input-1{
    margin-top: 2%;
    display: flex;
    gap: 40px;
    margin-left: 439.8px;
}



.name{
    padding: 10px;
    height: 30PX;
    width: 300px;
    border: solid silver;
    text-align: left;
}

.email{
    border:  solid silver;
    height: 30px;
    padding: 10px;
    width: 300px;
    text-align:left;
}

.subject{
    margin-top: 20px;
    gap: 2%;
    height: 40px;
    border:  solid silver;
    padding: 10px;
    width: 640px;
    text-align:left;
}

.message{
    margin-top: 20px;
    height: 60px;
    border:  solid silver;
    padding: 10px;
    width: 640px;
    text-align:left;
}

.submit{
    margin-bottom: 50px;
    margin-top: 20px;
    color: white;
    height: 50px;
    font-weight: bold;
    border:  solid silver;
    padding: 10px;
    width: 640px;
    background-color:  rgb(255, 123, 0);
}


/* GOA PAGE */


#container_goa {
    /* background-color: aqua; */
    width: 100%;
    height: 250vh;
  }
  #city {
    font-family: Rudee;
    font-weight: 200;
    text-align: center;
    font-size: 60px;
    margin-bottom: 10px;
    margin-top: 40px;
    color: #D8CAA7;
  }
  #tagline {
    color: white;
    font-family: Georgia, "Times New Roman", Times, serif;
    text-align: center;
  }
  #left_div,
  #right_div {
    height: 100%;
    float: left;
  }
  #left_div {
    width: 70%;
    /* background-color: red; */
  }

  #right_div {
    width: 30%;
    /* background-color: rgb(179, 0, 255); */
  }
  #img_1 {
    margin-left: 50px;
    margin-top: 20px;
    width: 90%;
  }
  .images {
    float: left;
    width: 20vw;
    height: 30vh;
    margin-left: 2vw;
  }
  #map {
    width: 85%;
    height: 300px;
    margin-left: 8%;
  }
  #text {
    text-align: center;
    font-family:neuemachinaregular;
  }
  #img_2 {
    width: 50%;
    margin-left: 8vw;
    margin-top: 20px;
    margin-bottom: 25px;
  }
  #info {
    margin-top: 15px;
    color: white;
    padding-left: 5%;
    text-align: justify;
  }
  #gallery,
  #package {
    color: #D8CAA7;
    padding-left: 5%;
    margin-top: 50px;
    font-family: neuemachinaregular;
  }

  .carousel{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 90%;
  }
  .wrap{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 250px;
    justify-items: stretch;
    animation: slide 10s linear infinite;
  }

  .wrap img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
  }
  @keyframes slide {
    to{
      translate: calc(-1 * 250px);
    }
  }

  #img_div{
    margin-bottom: 40px;
  }

  #course-container {
    width: 350px;
    height: 510px;
    margin-left: 55px;
    margin-top: 5%;
    float: left;
    border-radius: 10px;
  }
  #top_cont {
    width: 100%;
    height: 88%;
    background-color: #171717;
    border-radius: 10px;
  }
  #bottom_cont {
    width: 100%;
    height: 12%;
  }
  #title_div {
    height: 160px;
    width: 100%;
  }
  img {
    width: 100%;
    height: 195px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  #title {
    color: white;
    font-family: neuemachinaregular;
    padding: 20px;
  }

  #lang_button {
    background-color: #7c7c7c;
    font-size: 17px;
    color: white;
    width: 9vw;
    height: 4.5vh;
    border: none;
    border-radius: 4px;
    margin-left: 20px;
    font-family: "Times New Roman", Times, serif;
  }

  #text {
    color: #D8CAA7;
    padding-left: 20px;
    padding-top: 10px;
    font-family: neuemachinaregular;
    font-size: 20px;
  }

  #discountedprice,
  #originalprice {
    float: left;
    margin-left: 20px;
    font-family: "Times New Roman", Times, serif;
  }
  #discountedprice {
    padding-top: 5px;
    color: white;
    font-size: 25px;
  }
  del {
    font-size: 20px;
    margin-top: 8px;
    color: #7c7c7c;
  }
  #discountedpercentage {
    font-size: 15px;
    margin-left: 60px;
    margin-top: 8px;
    padding: 4px;
  }
  #details_button {
    background-color: #24cfa6;
    width: 350px;
    height: 45px;
    border: none;
    border-radius: 5px;
    font-size: 30px;
    margin-top: 2.5vh;
  }

  body {
    background-color: #f8f9fa;
  }

  #fd_txt{
    color: rgb(255, 123, 0);
  }

  .btn-primary {
    background-color:  rgb(255, 123, 0);
    border-color: white;
  }

  .btn-primary:hover {
    background-color: orange;
    border-color: white;
  }
  .form-group{
    color: white;
  }

  #responseMessage {
    font-size: 1.2em;
    color: #28a745; /* Green color for success message */
  }
